<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div id='root'>
        <p>Som en 
            <input type='text' v-model='role'> 
            vill jag 
            <input type='text' v-model='activity'> 
            i 
            <input type='text' v-model='context'>
            för att 
            <input type='text' v-model='cause'>.
        </p>
        <button @click='addRow'>Lägg till svar</button>

        <h2 v-text='rowHead'></h2>
        <ul>
            <li v-for='row in rows' v-text='row'></li>
        </ul>
        <button @click='addToGet'>Skapa länk för lärare</button>
        <h2>För lärare</h2>
        <button @click='loadFromGet'>Ladda från url</button>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>

    <script src='./js/main.js'></script>
</body>
</html>